.color {
    color: yellow;
}

img {
    float: left;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

.veilClose {
    visibility: hidden;
    display: none;
}

.veilOpen {
    visibility: visible;
    display: block;
}

h3 {
    clear: both;
}

a {
    float: right;
    margin-bottom: 40px;
}